* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  padding: 15px;
  background-color: #f7f7f7;
}
.page-wrapper {
  max-width: 375px;
  margin: auto;
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.25);
  background: #f8f7f7;
  border-radius: 20px;
  overflow: hidden;
}
.container {
  max-width: 300px;
  margin: auto;
}
.header {
  color: #fff;
  padding: 40px 42px 145px;
  border-radius: 10px 10px 80px 80px;
  background: linear-gradient(
      0deg,
      rgba(58, 58, 58, 0.6),
      rgba(58, 58, 58, 0.6)
    ),
    url("../img/background.png") no-repeat center / cover;
}
.hello {
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  margin-left: 21px;
}
.hello-text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 19px;
}
.user {
  margin-top: -60px;
  text-align: center;
  box-shadow: 0 4px 30px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
  border-radius: 10px;
  padding-bottom: 3px;
  border-radius: 8px;
}
.user-avatar {
  border: 2px solid #fffefe;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -55px;
}
.user-name {
  margin: 0;
  margin-top: 2px;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
}
.user-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #977777;
  margin-top: 8px;
  /* margin: 0; */
}
