* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  padding: 15px;
  background-color: #f7f7f7;
}
.page-wrapper {
  max-width: 375px;
  margin: auto;
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.25);
  background: #f8f7f7;
  border-radius: 20px;
  overflow: hidden;
}
.container {
  max-width: 324px;
  min-height: 490px;
  margin: auto;
}
.header {
  color: #fff;
  padding: 40px 42px 145px;
  border-radius: 10px 10px 80px 80px;
  background: linear-gradient(
      0deg,
      rgba(58, 58, 58, 0.6),
      rgba(58, 58, 58, 0.6)
    ),
    url("../img/background.png") no-repeat center / cover;
}
.hello {
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  margin-left: 21px;
}
.hello-text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 19px;
}
.user {
  width: 324px;
  height: 105px;
  margin-top: -80px;
  text-align: center;
  box-shadow: 0 4px 30px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
  border-radius: 10px;
  padding-bottom: 15px;
  border-radius: 8px;
}
.user-avatar {
  border: 2px solid #fffefe;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -55px;
}
.user-name {
  margin: 0 auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
}
.user-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #977777;
  margin-top: 5px;
}
.card {
  margin: auto;
  box-shadow: 0 4px 30px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
  border-radius: 10px;
  margin-top: 12px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 295px;
  margin: 0 auto;
  padding-top: 15px;
}
.button {
  margin: 0;
  flex-shrink: 1;
  width: 100%;
  height: 44px;
  width: 130px;
  flex-wrap: wrap;
  border-radius: 5px;
}
.button-yt {
  margin-left: 15px;
}
.blog {
  margin: auto;
  /* padding-top: 30px; */
  width: 295px;
  height: 84px;
  background-color: #526688;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.blog-text {
  margin: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}
.web-image {
  width: 295px;
  margin: auto;
  margin-top: 20px;
}
.welcome-text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #6a6464;
}
.main-wrp {
  margin: 0;
  margin-top: 15px;
  background: #fff;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 7px;
  /* margin: 15px; */
  width: 324px;
  padding-left: 0;
}
